## Apply K-Means clustering on below dataset

https://archive.ics.uci.edu/ml/datasets/US+Census+Data+%281990%29

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import os
os.chdir('/home/admin1/PycharmProjects/Clustering datasets/')

# loading dataset from csv file & storing it as pandas dataframe
census_data = pd.read_csv('USCensus1990_data.csv')
census_data.head()

,caseid,dAge,dAncstry1,dAncstry2,iAvail,iCitizen,iClass,dDepart,iDisabl1,iDisabl2,...,iTmpabsnt,dTravtime,iVietnam,dWeek89,iWork89,iWorklwk,iWWII,iYearsch,iYearwrk,dYrsserv
0,10000,5,0,1,0,0,5,3,2,2,...,0,5,0,2,1,1,0,11,1,0
1,10001,6,1,1,0,0,7,5,2,2,...,0,1,0,2,1,1,0,5,1,0
2,10002,3,1,2,0,0,7,4,2,2,...,0,2,0,2,1,1,0,10,1,0
3,10003,4,1,2,0,0,1,3,2,2,...,0,1,0,1,1,1,0,10,1,0
4,10004,7,1,1,0,0,0,0,2,2,...,3,0,0,0,2,2,0,5,6,0

In [2]:
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2458285 entries, 0 to 2458284
Data columns (total 69 columns):
caseid       int64
dAge         int64
dAncstry1    int64
dAncstry2    int64
iAvail       int64
iCitizen     int64
iClass       int64
dDepart      int64
iDisabl1     int64
iDisabl2     int64
iEnglish     int64
iFeb55       int64
iFertil      int64
dHispanic    int64
dHour89      int64
dHours       int64
iImmigr      int64
dIncome1     int64
dIncome2     int64
dIncome3     int64
dIncome4     int64
dIncome5     int64
dIncome6     int64
dIncome7     int64
dIncome8     int64
dIndustry    int64
iKorean      int64
iLang1       int64
iLooking     int64
iMarital     int64
iMay75880    int64
iMeans       int64
iMilitary    int64
iMobility    int64
iMobillim    int64
dOccup       int64
iOthrserv    int64
iPerscare    int64
dPOB         int64
dPoverty     int64
dPwgt1       int64
iRagechld    int64
dRearning    int64
iRelat1      int64
iRelat2      int64
iRemplpar    int64
iRiders      int64
iRlabor      int64
iRownchld    int64
dRpincome    int64
iRPOB        int64
iRrelchld    int64
iRspouse     int64
iRvetserv    int64
iSchool      int64
iSept80      int64
iSex         int64
iSubfam1     int64
iSubfam2     int64
iTmpabsnt    int64
dTravtime    int64
iVietnam     int64
dWeek89      int64
iWork89      int64
iWorklwk     int64
iWWII        int64
iYearsch     int64
iYearwrk     int64
dYrsserv     int64
dtypes: int64(69)
memory usage: 1.3 GB

In [3]:
# taking only 100000 records
census_data = census_data.iloc[:100000]

#### Checking for null values

In [ ]:
census_data.info()

#### Creating feature matrix

In [ ]:
x_values = census_data.values

### Finding optimal number of clusters using elbow method

In [ ]:
from sklearn.cluster import KMeans

wcss = []
for num in range(1,11):
    kmeans = KMeans(n_clusters=num, init='k-means++',max_iter=300, n_init=10, random_state=0)
    kmeans.fit(x_values)
    wcss.append(kmeans.inertia_)

plt.style.use('seaborn')
plt.plot(range(1,11), wcss)
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

#### We can take 2 or 3 clusters, going with 3 clusters

### Creating 3 clusters using K-Means

In [ ]:
total_clusters = 3
kmeans = KMeans(n_clusters=total_clusters, init='k-means++',max_iter=300, n_init=10, random_state=0)
y_kmeans = kmeans.fit_predict(x_values)

#### Total records in each cluster

In [ ]:
for num in range(total_clusters):
    print(f'Number of records in Cluster {num + 1}: {len(y_kmeans[y_kmeans == num])}')